{{ define "header"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sync Your Repos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Favicon-->
    <link href="data:image/x-icon;base64, {{ .Icon }}" rel="icon" type="image/x-icon" />
    <!-- Font for icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Bootstrap and theme -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/{{ .Config.Theme }}/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="/">
                    <img src="data:image/png;base64, {{ .Icon }}" width="30"/>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/config/">Config</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/log">Log</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item"><a class="nav-link active" target="_blank" href="https://github.com/aceberg/git-syr">
                <h3>&nbsp;&nbsp;&nbsp;<i class="bi bi-github"></i></h3>
              </a></li>
            </ul>
        </div>
    </nav>

{{ end }}