{{ define "edit" }}

<body>
    <div class="container mt-5">
        <div class="row">
            {{ range .Repos }}
            <h5>{{ .Name }} - {{ .Path }}</h5>
            {{ end }}
        </div>
        <div class="row">
            <div class="col">
                <code>.git/config</code>
                <form action="/save_file/" method="post">
                    <input name="file" value="config" type="hidden">
                    {{ range .Repos }}
                    <input name="path" value="{{ .Path }}" type="hidden">
                    {{ end }}
                    <textarea name="text" rows="15" class="form-control">{{ index .Themes 0 }}</textarea>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
                <br>
                <p>Additional push command</p>
                {{ range .Repos }}
                <form action="/update_repo/" method="post">
                    <input name="id" value="{{ .ID }}" type="hidden">
                    <input name="name" value="{{ .Name }}" type="hidden">
                    <input name="path" value="{{ .Path }}" type="hidden">
                    <input name="timeout" value="{{ .Timeout }}" type="hidden">
                    <input name="pull" value="{{ .Pull }}" type="hidden">
                    <input name="push" value="{{ .Push }}" type="hidden">
                    <input name="addpush" type="text" class="form-control" value="{{ .AddPush }}">
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
                {{ end }}
            </div>
            <div class="col">
                <code>.gitignore</code>
                <form action="/save_file/" method="post">
                    <input name="file" value="ignore" type="hidden">
                    {{ range .Repos }}
                    <input name="path" value="{{ .Path }}" type="hidden">
                    {{ end }}
                    <textarea name="text" rows="15" class="form-control">{{ index .Themes 1 }}</textarea>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
        

{{ template "footer" }}
{{ end }}